    <div>
        <% @text.each do |t| %>
          <%= t %><br/>
        <% end %>
    </div>
    <hr class="my-4">
    <div>
         <%= link_to 'Попробовать еще', root_path, class: 'btn btn-primary' %>
    </div>


